<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-color.svg" alt="{{ settings.app.name }}"
      style="max-height:35px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo-color.svg" alt="{{ settings.app.name }}"
      style="max-height:35px;" />
    <span style="color: #fff;line-height: 35px;transform: translateY(2px);display: inline-block;    padding-left: 8px;"
      *ngIf="showTitle">"好的好的对对对"</span>
  </a>
</div>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{ settings.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
  </ul>
  <!-- <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search> -->
  <ul class="alain-default__nav">
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>